<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property_name %>
    <%= form.text_field :property_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <%= form.fields_for :closest_stations do |closest_stations_form| %>
    
    <div class="closest_stations_form">
      <%= closest_stations_form.label :路線名 %>
      <%= closest_stations_form.text_field :route_name %>
    </div>

    <div class="closest_stations_form">
      <%= closest_stations_form.label :駅名 %>
      <%= closest_stations_form.text_field :station_name %>
    </div>

    <div class="closest_stations_form">
      <%= closest_stations_form.label :徒歩分数 %>
      <%= closest_stations_form.number_field :duration %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
