<%= form_with(model: closest_station, local: true) do |form| %>
  <% if closest_station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(closest_station.errors.count, "error") %> prohibited this closest_station from being saved:</h2>

      <ul>
        <% closest_station.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :route_name %>
    <%= form.text_field :route_name %>
  </div>

  <div class="field">
    <%= form.label :station_name %>
    <%= form.text_field :station_name %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
