<p id="notice"><%= notice %></p>

<h1>Closest Stations</h1>

<table>
  <thead>
    <tr>
      <th>Route name</th>
      <th>Station name</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @closest_stations.each do |closest_station| %>
      <tr>
        <td><%= closest_station.route_name %></td>
        <td><%= closest_station.station_name %></td>
        <td><%= closest_station.duration %></td>
        <td><%= link_to 'Show', closest_station %></td>
        <td><%= link_to 'Edit', edit_closest_station_path(closest_station) %></td>
        <td><%= link_to 'Destroy', closest_station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Closest Station', new_closest_station_path %>
